<?xml version="1.0"?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="name" default="arm" />
  <xacro:arg name="parent_link" default="base_link" />
  <xacro:arg name="xyz" default="0.0 0.0 0.0" />
  <xacro:arg name="rpy" default="0.0 0.0 0.0" />
  <xacro:arg name="ros_prefix" default="/" />
  <xacro:arg name="ros_distro" default="" />
  <xacro:arg name="ip" default="192.168.1.101" />
  <xacro:arg name="controller_manager_config_yaml_file" default="" />
  <xacro:arg name="ros2_control_config_urdf_file" default="" />
  <xacro:arg name="calibration_config_yaml_file" default="" />
  <xacro:arg name="joint_limits_config_yaml_file" default="" />
  <xacro:arg name="initial_joint_positions_config_yaml_file" default="" />


  <xacro:include filename="$(find romea_arm_description)/urdf/ur_arm.xacro" />

  <xacro:ur_arm
    prefix="$(arg prefix)"
    name="$(arg name)"
    mode="$(arg mode)"
    model="10"
    xyz=" $(arg xyz)"
    rpy=" $(arg rpy)"
    parent_link="$(arg parent_link)"
    ip="$(arg ip)"
    controller_manager_config_yaml_file="$(arg controller_manager_config_yaml_file)"
    ros2_control_config_urdf_file="$(arg ros2_control_config_urdf_file)"
    calibration_config_yaml_file="$(arg calibration_config_yaml_file)"
    joint_limits_config_yaml_file="$(arg joint_limits_config_yaml_file)"
    initial_joint_positions_config_yaml_file="$(arg initial_joint_positions_config_yaml_file)"
    ros_prefix="$(arg ros_prefix)"
    ros_distro="$(arg ros_distro)" />

</robot>