<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="arm">

   <xacro:macro name="ur_arm"
      params="prefix mode name model xyz rpy parent_link ip controller_manager_config_yaml_file ros2_control_config_urdf_file   calibration_config_yaml_file joint_limits_config_yaml_file initial_joint_positions_config_yaml_file ros_prefix ros_distro">

      <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

      <xacro:property
         name="ur_prefix"
         value="${prefix}${name}_" />
      <xacro:property
         name="controller_name"
         value="${prefix}${name}/controller" />
      <xacro:property
         name="parent_link_name"
         value="${prefix}${parent_link}" />
      <xacro:property
         name="ur_type"
         value="ur${model}" />


      <xacro:property
         name="joint_limit_params_file"
         value="${joint_limits_config_yaml_file}" />
      <!-- value="$(find ur_description)/config/${ur_type}/joint_limits.yaml" /> -->
      <xacro:property
         name="kinematics_params_file"
         value="${calibration_config_yaml_file}" />
      <!-- value="$(find ur_description)/config/${ur_type}/default_kinematics.yaml" /> -->
      <xacro:property
         name="physical_params_file"
         value="$(find ur_description)/config/${ur_type}/physical_parameters.yaml" />
      <xacro:property
         name="visual_params_file"
         value="$(find ur_description)/config/${ur_type}/visual_parameters.yaml" />
      <xacro:property
         name="safety_limits"
         value="false" />
      <xacro:property
         name="safety_pos_margin"
         value="0.15" />
      <xacro:property
         name="safety_k_position"
         value="20" />

      <!-- ros2_control related parameters -->
      <xacro:property
         name="headless_mode"
         value="false" />
      <xacro:property
         name="script_filename"
         value="$(find ur_client_library)/resources/external_control.urscript" />
      <xacro:property
         name="output_recipe_filename"
         value="$(find ur_robot_driver)/resources/rtde_output_recipe.txt" />
      <xacro:property
         name="input_recipe_filename"
         value="$(find ur_robot_driver)/resources/rtde_input_recipe.txt" />
      <!-- <xacro:property
         name="reverse_ip"
         value="0.0.0.0" />
      <xacro:property
         name="script_command_port"
         value="50004" /> -->

      <!--   tool communication related parameters-->
      <xacro:property
         name="robot_ip"
         value="${ip}" />
      <!-- <xacro:property
         name="use_tool_communication"
         value="false" />
      <xacro:property name="tool_voltage"
         value="0" />
      <xacro:property name="tool_parity"
         value="0" />
      <xacro:property
         name="tool_baud_rate"
         value="115200" />
      <xacro:property
         name="tool_stop_bits"
         value="1" />
      <xacro:property
         name="tool_rx_idle_chars"
         value="1.5" />
      <xacro:property
         name="tool_tx_idle_chars"
         value="3.5" />
      <xacro:property
         name="tool_device_name"
         value="/tmp/ttyUR" />
      <xacro:property
         name="tool_tcp_port"
         value="54321" /> -->

      <!-- Simulation parameters -->
      <xacro:property
         name="sim_gazebo"
         value="true" />
      <!-- <xacro:property
         name="sim_ignition"
         value="false" /> -->
      <!-- <xacro:property
         name="simulation_controllers"
         value="$(arg controller_manager_config_yaml_file)" /> -->

      <!-- pose -->
      <!-- <xacro:property
         name="oxyz"
         value="${xyz}" />

      <xacro:property
         name="orpy"
         value="${rpy}" /> -->

      <xacro:property
         name="initial_positions_file"
         value="${initial_joint_positions_config_yaml_file}" />
      <!-- value="$(find ur_description)/config/initial_positions.yaml" /> -->

      <xacro:property
         name="initial_positions"
         value="${load_yaml(initial_positions_file)}" />


      <!-- <xacro:arg name="transmission_hw_interface" default="" /> -->
      <!-- initial position for simulations (Fake Hardware, Gazebo, Ignition) -->
      <!-- convert to property to use substitution in function -->
      <!-- transmission_hw_interface="$(arg transmission_hw_interface)" -->
      <!-- use_fake_hardware="${use_fake_hardware}" -->
      <!-- fake_sensor_commands="$(arg fake_sensor_commands)" -->
      <!-- reverse_ip="${reverse_ip}" -->
      <!-- script_command_port="${script_command_port}" -->
      <!-- use_tool_communication="${use_tool_communication}" -->
      <!-- tool_voltage="${tool_voltage}" -->
      <!-- tool_parity="${tool_parity}" -->
      <!-- tool_baud_rate="${tool_baud_rate}"  -->
      <!-- tool_stop_bits="${tool_stop_bits}" -->
      <!-- tool_rx_idle_chars="${tool_rx_idle_chars}"  -->
      <!-- tool_tx_idle_chars="${tool_tx_idle_chars}" -->
      <!-- tool_device_name="${tool_device_name}"  -->
      <!-- tool_tcp_port="${tool_tcp_port}"  -->
      <!--   sim_ignition="${sim_ignition}" -->

      <!-- arm -->
      <xacro:if value="${ros_distro == 'galactic'}">

         <xacro:ur_robot
            name="${prefix}${name}"
            prefix="${ur_prefix}"
            parent="${parent_link_name}"
            joint_limits_parameters_file="${joint_limit_params_file}"
            kinematics_parameters_file="${kinematics_params_file}"
            physical_parameters_file="${physical_params_file}"
            visual_parameters_file="${visual_params_file}"
            safety_limits="${safety_limits}"
            safety_pos_margin="${safety_pos_margin}"
            safety_k_position="${safety_k_position}"
            sim_gazebo="${sim_gazebo}"
            headless_mode="${headless_mode}"
            initial_positions="${initial_positions}"
            robot_ip="${robot_ip}"
            script_filename="${script_filename}"
            output_recipe_filename="${output_recipe_filename}"
            input_recipe_filename="${input_recipe_filename}">
            <origin xyz="${xyz}" rpy="${rpy}" />
         </xacro:ur_robot>
      </xacro:if>

      <xacro:if value="${ros_distro != 'galactic'}">
         <xacro:ur_robot
            name="${prefix}${name}"
            tf_prefix="${ur_prefix}"
            parent="${parent_link_name}"
            joint_limits_parameters_file="${joint_limit_params_file}"
            kinematics_parameters_file="${kinematics_params_file}"
            physical_parameters_file="${physical_params_file}"
            visual_parameters_file="${visual_params_file}"
            safety_limits="${safety_limits}"
            safety_pos_margin="${safety_pos_margin}"
            safety_k_position="${safety_k_position}"
            sim_gazebo="${sim_gazebo}"
            headless_mode="${headless_mode}"
            initial_positions="${initial_positions}"
            robot_ip="${robot_ip}"
            script_filename="${script_filename}"
            output_recipe_filename="${output_recipe_filename}"
            input_recipe_filename="${input_recipe_filename}">
            <origin xyz="${xyz}" rpy="${rpy}" />
         </xacro:ur_robot>
      </xacro:if>




      <xacro:if value="${mode == 'simulation'}">
         <gazebo>
            <plugin filename="libromea_gazebo_ros2_control.so" name="gazebo_ros2_control">
               <ros2_control_config_file>${ros2_control_config_urdf_file}</ros2_control_config_file>
               <controller_manager_config_file>${controller_manager_config_yaml_file}</controller_manager_config_file>
               <ros>
                  <namespace>${ros_prefix}${name}</namespace>
               </ros>
            </plugin>
         </gazebo>

      </xacro:if>
   </xacro:macro>

</robot>